streamlit
streamlit-option-menu

langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langchain-text-splitters

sentence-transformers

faiss-cpu

groq
voyageai

pypdf
pymupdf
python-dotenv

numpy
pandas

requests
beautifulsoup4

tiktoken
