streamlit
streamlit-option-menu

langchain
langchain-core
langchain-community
langchain-groq
langchain-text-splitters

faiss-cpu

groq
voyageai

pypdf
pymupdf
python-dotenv

numpy
pandas

requests
beautifulsoup4

tiktoken
